<div class="row marketing">
</div>

<div class="container well well-lg">

    <form role="form" class="form-horizontal" ng-submit="shortenUrl()">
        <div class="form-group">
            <label for="url" class="col-md-2">Link</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="url" placeholder="Enter url" ng-model="url">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" ng-click="">Shorten</button>
            </div>
        </div>
    </form>
    <div class="row marketing" ng-show="shortenedUrl">
        <div class="col-sm-offset-2 col-md-10">
            Your newly shortened url is: <a href="{{shortenedUrl}}" target=_blank>{{shortenedUrl}}</a>
        </div>
    </div>
</div>


<div class="row marketing">
  <h4>What is deni.se?</h4>
  <p>
    Just another link shortener.
  </p>

  <h4>How was it built?</h4>
  <p>
    Using the Play framework and AnguarJS.
  </p>

</div>
